@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "open-sans-bold";
    font-style: normal;
    font-weight: 100;
    src: url("../assets/fonts/Outfit/Outfit-Medium.ttf") format("woff");
}
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "open-sans";
    font-style: normal;
    font-weight: bold;
    src: url("../assets/fonts/Outfit/Outfit-Regular.ttf") format("woff");
}
:root{
    --blue: #000760;
    --dark-blue: #0A0F50;
    --light-blue: #ECECEC;;
    --light-blue-ii: #F7F8FA;
}
.begorah-bg-blue{
    background-color: var(--blue);
}
.begorah-dark-blue{
    background-color: var(--dark-blue);
}
.begorah-bg-blue-ii{
    background-color: var(--light-blue) !important;
}
.begorah-bg-blue-iii{
    background-color: var(--light-blue-ii) !important;
}
.begorah-text-blue{
    color: var(--blue);
}
.begorah-text-dark-blue{
    color: var(--dark-blue);
}
.iyd-blue-bg{
    background-color: var(--dark-blue);
}
body{
    font-family: 'open-sans', sans-serif;
}
ul{
    padding: 0;
}
.bold-font{
    font-family: "open-sans-bold";
    font-weight: 500;
}
.bold-font-2{
    font-family: "open-sans-bold";
    font-weight: 600;
}
.iyd-nav{
    box-shadow: 0px 2px 4px 0px #D3D3D380;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFF;
}
.xui-bg-none{
  background: none;
  border: none;
  outline: none;
}
.search-keyword{
  border: 1.5px solid #D9D9D9
}
.contact{
    padding: .5rem 1.5rem !important;
    outline: none;
    border: none;
}
.explore-btn{
    background-color: transparent !important;
    border: 1px solid var(--blue);
    color: #000;
}
.stat:not(.stat:nth-child(3)){
    border-right: 1px solid #D3D3D3;
}
.grid-card{
    box-shadow: 0px 1.65px 4.96px 0px #00000040;
    box-shadow: 0px -1.65px 4.96px 0px #D3D3D380;
    border-radius: .5rem;
    transition: .4s ease;
}
.grid-card:hover{
    background-color: var(--blue);
    color: #fff;
}
.grid-card:hover p{
    color: #FFF !important;
}
.grid-card:hover div > span{
    background-color: #FFF;
}
.grid-card:hover div > span svg path{
    stroke: #000;
}
.grid-card:hover > div svg path{
    stroke: #FFF;
}

.learn-more, .learn-more2{
    text-decoration: none;
    color: #000;
    margin-top: 1.5rem;
    position: relative;
}
.learn-more2{
    color: #FFF;
}
.learn-more::before, .learn-more2::before{
    position: absolute;
    content: "";
    left: 0;
    background-color: #000;
    height: 1px;
    width: 40px;
    bottom: -10px;
    transition: .3s ease;
}
.learn-more2::before{
    background-color: #FFF;
}
.grid-card:hover .learn-more::before{
    background-color: #FFF;
}
.learn-more:hover::before, .learn-more2:hover::before{
    width: 100%;
}
.principle span{
    position: relative;
    display: block;
}
.principle span::before{
    position: absolute;
    content: "";
    left: 0;
    background-color: #737373;
    height: 1px;
    width: 40px;
    bottom: -8px;
    transition: .3s ease;
}
.principle:hover span::before{
    width: 100%;
}
  
  .iyd-header{
    background: #F7F8FA;    ;
    z-index: 2;
    position: relative;
    backdrop-filter: blur(2rem);
  }
  
  
 
  .hsd-loader-screen {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    color: var(--blue-light);
}
.hsd-loader-screen .hsd-loader-holder {
    margin-top: 16px;
    width: 100%;
    height: 4px;
    background-color: hsl(220, 52%, 15%);
    position: relative;
    overflow: hidden;
}
.hsd-loader-screen .hsd-loader-holder .hsd-loader-anime {
    width: 72px;
    height: 100%;
    background-color: var(--orange);
    position: absolute;
    top: 0;
    animation-name: loader;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: .8s;
    animation-timing-function: linear;
}
@keyframes loader {
    from {
        left: -72px;
    }
    to {
        left: 200px;
    }
}
.bizr-waitlist-wrapper{
    display: -webkit-inline-box;
    grid-gap: 1rem;
}
.bizr-waitlist-scroller {
    width: 100%;
    overflow: hidden;
}
.bizr-waitlist-scroll-item{
    padding: .5rem 1rem;
    border-radius: 1rem;
    background: #FFF;
    box-shadow: 0px -1.999px 3.998px 0px rgba(211, 211, 211, 0.50), 0px 1.999px 3.998px 0px rgba(0, 0, 0, 0.15);
}
.animate1{
    animation: swipeforward var(--speed) linear infinite backwards;
}
.animate2{
    animation: swipe var(--speed) linear infinite backwards;
}
.bizr-waitlist-scroll-section {
    /* display: flex; */
    /* animation: swipe var(--speed) linear infinite backwards; */
    width: 100%;
    /* grid-gap: var(--baseline-grid-v); */
}
  
@keyframes swipeforward {
    0% {
      transform: translate(-100%);
    }
  
    100% {
      transform: translate(0);
    }
}
@keyframes swipe {
    0% {
      transform: translate(0);
    }
  
    100% {
      transform: translate(-100%);
    }
}
.mySwiper{
    overflow-x: hidden !important;
    overflow-y: initial !important;
    /* height: 600px; */
    padding: 6rem 0 !important;
}
.mySwiper .swiper-pagination{
    position: absolute;
    top: 14px !important;
    right: 120px !important;
    left: auto;
    width: 100px;
    height: fit-content;
}
.mySwiper .swiper-button-next, .mySwiper .swiper-button-prev{
    top: 22px !important;
    right: 80px !important;
    left: initial !important;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #000;
}
.mySwiper .swiper-button-next:after, .mySwiper .swiper-button-prev:after{
    font-size: 18px !important;
    font-weight: 600;
}
.mySwiper .swiper-button-prev{
    right: 220px !important;
}
.pagination-btn{
    border: 1px solid lightgray;
}
.calc-width{
    width: calc(100% - 150px);
}
.xui-lg-w-fluid-83{
    width: 83%;
}
.tool{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mobile-flex{
    display: inline-flex;
}
.flip-card {
    perspective: 1000px;
    position: relative;
    transform-style: preserve-3d;
    transition: .8s ease;
    height: 300px;
}
 
.flip-card.flipped {
    transform: rotateY(180deg);
}
 
.flip-card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
 
.flip-card-front,
.flip-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}
.flip-card-back {
    transform: rotateY(180deg);
}
@media screen and (max-width: 768px) {
    .calc-width{
        width: 100%;
    }
    .mobile-flex{
        display: flex;
    }
    .xui-w-fluid-83{
        width: 100%;
    }
}